/*#region ----------------- Cards */
.card-test-category {
  padding: 15px 0 0 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    background: $primary;
    border-radius: 20px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  .card-inner {
    padding: 20px;
    display: block;
    position: relative;
    height: 100%;
    z-index: 30;
  }
  .icon {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    background-color: $primary;
    border-radius: 50%;
    @include displayFlex(flex, center, center);
    padding: 20px;
    i {
      font-size: 40px;
      color: $secondary;
    }
    svg {
      width: 100%;
      fill: $secondary;
    }
  }
  .info {
    margin-top: 10px;
    text-align: center;
    h2 {
      font-size: 16px;
      font-weight: 700;
      color: white;
      @include textTruncate(1);
    }
    p {
      font-size: 13px;
      font-weight: 400;
      color: rgba($color: white, $alpha: 0.8);
      @include textTruncate(2);
      margin-bottom: 0;
      line-height: normal;
      min-height: 42px;
    }
  }
  .read-more {
    font-size: 14px;
    font-weight: 500;
    color: $textDark;
    display: inline-block;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    .fi {
      margin-right: 5px;
      position: relative;
      top: 4px;
    }
  }
  &:hover {
    &::before {
      width: 110%;
      height: 110%;
      opacity: 1;
    }
    .icon {
      background-color: $secondary;
      i {
        color: $primary;
      }
      svg {
        fill: $primary;
      }
    }
    .info {
      h2 {
        color: $textDark;
      }
      p {
        color: $textGrey;
      }
    }
    .read-more {
      opacity: 1;
    }
  }
}

.card-property {
  margin: 12px 0;
  .card-inner {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: $boxshadow;
    display: grid;
    grid-template-columns: 58px auto;
    grid-template-areas: "icons name" "info info";
    align-items: center;
  }
  .icon {
    grid-area: icons;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    @include displayFlex(flex, center, center);
    background: linear-gradient(180deg, $secondaryLight, $secondary);
    color: $primary;
    font-size: 24px;
  }
  .name {
    grid-area: name;
    padding-right: 20px;
    h2 {
      font-size: 18px;
      margin-bottom: 0;
      color: $primary;
    }
  }
  .info {
    grid-area: info;
    margin-top: 1rem;
    p {
      font-size: 14px;
      color: $textDark;
      margin-bottom: 0;
      @include textTruncate(2);
      min-height: 50px;
    }
  }
}

.card-status {
  .icon {
    width: 58px;
    height: 58px;
    margin: 0 auto;
    @include displayFlex(flex, center, center);
    font-size: 38px;
    color: $primary;
  }
  .info {
    text-align: center;
    margin-top: 10px;
    .num {
      font-size: 28px;
      font-weight: 800;
      color: white;
    }
    .desc {
      font-size: 16px;
      font-weight: 400;
      color: rgba($color: white, $alpha: 0.7);
    }
  }
  &.have-border {
    .card-inner {
      border-left: 1px solid rgba($color: white, $alpha: 0.2);
      border-right: 1px solid rgba($color: white, $alpha: 0.2);
    }
  }
}

.card-blog-image {
  margin-top: 20px;
  .card-inner {
    display: grid;
    grid-template-columns: 160px auto;
    border-radius: 15px;
    background-color: white;
    box-shadow: $boxshadowSmall;
    transition: all 0.3s ease-in-out;
  }
  .thumb {
    img {
      width: 100%;
      border-radius: 0 10px 10px 0;
    }
  }
  .info {
    padding: 20px 15px 10px 10px;
    h3 {
      font-size: 16px;
      font-weight: 700;
      color: $textDark;
      margin-bottom: 10px;
      @include textTruncate(1);
    }
    .desc {
      p {
        font-size: 14px;
        color: $textGrey;
        line-height: normal;
        @include textTruncate(2);
      }
    }
  }
  .date {
    @include displayFlex(flex, center, space-between);
    p {
      font-size: 13px;
      font-weight: 500;
      color: $textSilver;
      margin-bottom: 0;
      i {
        font-size: 16px;
        position: relative;
        top: 4px;
      }
    }
    .time {
      i {
        margin-left: 5px;
      }
    }
  }
  &:hover {
    .card-inner {
      transform: translateY(-3px);
      box-shadow: 0 10px 45px rgba(52, 55, 77, 0.2);
    }
    .date {
      .link {
        color: $primary;
      }
    }
  }
}

.card-blog-text {
  margin-top: 20px;
  .card-inner {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    box-shadow: $boxshadowSmall;
    transition: all 0.3s ease-in-out;
    padding: 10px;
  }
  .icon {
    width: 40px;
    height: 40px;
    background-color: rgba($color: $secondary, $alpha: 0.1);
    color: $secondary;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    @include displayFlex(flex, center, center);
  }
  .info {
    padding: 1px 15px 0 0;
    h3 {
      font-size: 14px;
      font-weight: 700;
      color: $textDark;
      margin-bottom: 10px;
      @include textTruncate(1);
    }
    .date {
      font-size: 13px;
      font-weight: 500;
      color: $textSilver;
      margin-bottom: 0;
      i {
        font-size: 16px;
        position: relative;
        top: 4px;
        margin-left: 5px;
      }
    }
  }
  &:hover {
    .card-inner {
      transform: translateY(-3px);
      box-shadow: 0 10px 45px rgba(52, 55, 77, 0.2);
    }
    .icon {
      background-color: rgba($color: $primary, $alpha: 0.1);
      color: $primary;
    }
  }
}

.card-transaction {
  margin-bottom: 20px;
  .card-inner {
    border: 1px solid $borderColor;
    border-radius: 15px;
    padding: 15px;
    display: grid;
    grid-template-columns: 35px auto;
    transition: all 0.3s ease-in-out;
  }
  .number {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: $textDark;
    background-color: $backgroundLight;
    @include displayFlex(flex, center, center);
    transition: all 0.3s ease-in-out;
  }
  .info {
    padding-right: 15px;
    ul {
      li {
        margin: 5px 0;
        span {
          display: inline-block;
          font-size: 14px;
          font-weight: 600;
        }
        .name {
          color: $textGrey;
        }
        .desc {
          color: $textDark;
          padding: 2px 5px;
          border-radius: 6px;
          &.success {
            color: $success;
            background-color: rgba($color: $success, $alpha: 0.1);
          }
          &.error {
            color: $error;
            background-color: rgba($color: $error, $alpha: 0.1);
          }
          &.warning {
            color: $textDark;
            background-color: rgba($color: $primary, $alpha: 0.7);
          }
        }
      }
    }
  }
  &:hover {
    .card-inner {
      background-color: $backgroundLight;
    }
    .number {
      background-color: white;
    }
  }
  &.type-2 {
    .card-inner {
      border-radius: 15px 15px 0 0;
    }
  }
  .c-footer {
    padding: 10px;
    border: 1px solid $borderColor;
    border-radius: 0 0 15px 15px;
    border-top: none;
    background-color: $backgroundLight;
  }
  .action-buttons {
    text-align: left;
    .btn {
      padding: 0.4rem 0.6rem;
      font-size: 13px;
      border-radius: 8px;
    }
  }
}

.card-mini-blog {
  padding: 0.5rem 0;
  .card-inner {
    display: grid;
    grid-template-columns: 70px auto;
  }
  .img-container {
    @include imgContainer(70px, 5px);
  }
  .info {
    padding: 5px 10px 0 0;
    .date {
      font-size: 11px;
      color: $textGrey;
    }
    .name {
      font-size: 12px;
      color: $textDark;
      line-height: 22px;
      @include textTruncate(2);
    }
  }
}

.card-blog-row {
  border-bottom: 1px solid $borderColor;
  padding: 1.5rem 0;
  &:last-child {
    border-bottom: none;
  }
  .card-inner {
    background-color: $background;
    display: grid;
    grid-template-columns: 200px auto;
    transition: all 0.2s ease-in-out;
  }
  .img-container {
    @include imgContainer(200px, 15px);
    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }
  .info {
    padding: 20px 20px 0 0;
    .name {
      display: block;
      h2 {
        font-size: 16px;
        font-weight: 800;
        color: $textDark;
      }
      &:hover h2 {
        color: $primary;
      }
    }
    .date {
      margin: 1rem 0;
      ul {
        @include displayFlex(flex, center, flex-start);
        li {
          margin-left: 20px;
          color: $textGrey;
          font-size: 13px;
          font-weight: 300;
          &:last-child {
            margin-left: 0;
          }
          i {
            margin-left: 5px;
            position: relative;
            top: 2px;
            font-size: 16px;
          }
        }
      }
    }
    .desc {
      font-size: 14px;
      font-weight: 400;
      color: $textGrey;
      line-height: 27px;
      margin-bottom: 1rem;
      @include textTruncate(2);
    }
    .see-more {
      text-align: left;
      .btn {
        padding: 0.5rem 1rem;
        font-size: 14px;
      }
    }
  }
}

.card-address {
  margin-bottom: 16px;
  .card-inner {
    display: grid;
    grid-template-columns: 50px auto;
    align-items: center;
    background-color: white;
    box-shadow: $boxshadow;
    padding: 30px;
    border-radius: 15px;
    min-height: 120px;
  }
  .icon {
    width: 50px;
    height: 50px;
    background-color: $secondary;
    color: white;
    @include displayFlex(flex, center, center);
    font-size: 24px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
  }
  .info {
    padding-right: 20px;
    h6 {
      font-size: 16px;
      font-weight: 500;
      color: $textDark;
      margin-bottom: 0;
    }
  }
  &:hover {
    .icon {
      background-color: $primary;
      color: $secondary;
    }
  }
}

.card-mini-info {
  margin: 10px 0;
  .card-inner {
    display: grid;
    grid-template-columns: 48px auto;
    align-items: center;
    border: 1px solid $borderColor;
    padding: 20px;
    border-radius: 15px;
  }
  .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $primary;
    font-size: 24px;
    color: $secondary;
    @include displayFlex(flex, center, center);
  }
  .info {
    padding-right: 20px;
    h3 {
      font-size: 18px;
      margin-bottom: 5px;
      color: $textDark;
    }
    h6 {
      font-size: 13px;
      font-weight: 500;
      margin-bottom: 0;
      color: $textGrey;
    }
  }
}

.card-advice-row {
  margin-bottom: 30px;
  .card-inner {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(112, 144, 176, 0.2);
    position: relative;
  }
  .c-body {
    display: grid;
    grid-template-columns: 200px auto;
    .user-img {
      width: 200px;
      height: 200px;
      a {
        display: block;
        position: relative;
      }
      .avatar {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        object-fit: cover;
        position: relative;
        z-index: 20;
      }
      .fade-avatar {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 15px;
        transform: scale(0.9);
        opacity: 0.5;
        z-index: 1;
        filter: blur(10px);
      }
    }
    .info {
      padding-right: 20px;
    }
    .name {
      font-size: 17px;
      margin-bottom: 10px;
      padding-left: 250px;
      @include textTruncate(1);
      a {
        color: $textDark;
        display: inline-block;
      }
    }
    .activity {
      font-size: 14px;
      font-weight: 500;
      color: $textGrey;
    }
    .desc {
      font-size: 14px;
      font-weight: 400;
      color: $textGrey;
      margin-top: 15px;
      @include textTruncate(2);
    }
  }
  .rating {
    @include displayFlex(flex, center, flex-end);
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
    left: 20px;
    .free-session {
      @include displayFlex(flex, center, center);
      @include gradient(45deg, #00a688, #00dfbd);
      padding: 3px 10px;
      font-size: 12px;
      font-weight: 500;
      color: white;
      white-space: nowrap;
      border-radius: 30px;
    }
    .rate {
      @include displayFlex(flex, center, center);
      margin-left: 10px;
      .text {
        font-size: 13px;
        font-weight: 500;
        color: $textGrey;
        margin: 0 5px;
      }
      .icon {
        svg {
          fill: $primary;
        }
      }
    }
  }
  .price-content {
    @include displayFlex(flex, center, space-between);
    margin-top: 1.2rem;
    .time-cost {
      @include displayFlex(flex, center, center);
      .text {
        font-size: 14px;
        font-weight: 400;
        color: $textGrey;
      }
      .price {
        font-size: 16px;
        margin: 0 8px;
        font-weight: 800;
        color: $textDark;
      }
      .toman {
        font-size: 13px;
        font-weight: 400;
        color: $textGrey;
      }
    }
    .bookmark {
      .btn {
        padding: 0.6rem 1.2rem;
        font-size: 13px;
        min-width: 120px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .card-test-category {
    .icon {
      width: 70px;
      height: 70px;
      padding: 15px;
      i {
        font-size: 32px;
      }
    }
    .info {
      h2 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
        min-height: 35px;
      }
    }
  }
  .card-advice-row {
    .c-body {
      grid-template-columns: 170px auto;
      .user-img {
        width: 170px;
        height: 170px;
      }
      .name {
        padding-left: 230px;
      }
      .desc {
        -webkit-line-clamp: 2;
        font-size: 12px;
      }
    }
    .price-content {
      .time-cost {
        .text,
        .toman {
          font-size: 11px;
        }
        .price {
          font-size: 14px;
        }
      }
    }
    .rating {
      .rate {
        .text {
          font-size: 12px;
        }
        .icon {
          svg {
            width: 18px;
          }
        }
      }
      .free-session {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .card-status {
    .icon {
      width: 50px;
      height: 50px;
      font-size: 30px;
    }
    .info {
      .num {
        font-size: 24px;
      }
      .desc {
        font-size: 14px;
      }
    }
  }
  .card-blog-row {
    .card-inner {
      grid-template-columns: 160px auto;
    }
    .img-container {
      height: 160px;
    }
    .info {
      padding: 10px 15px 0 0;
      .name h2 {
        font-size: 16px;
      }
      .date {
        margin: 0.7rem 0;
        ul li {
          font-size: 12px;
        }
      }
      .desc {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 0.5rem;
      }
    }
    .see-more {
      .btn {
        padding: 0.5rem 1.2rem;
        font-size: 14px;
      }
    }
  }
  .card-advice-row {
    .rating .rate {
      margin: 0 0 0 10px;
    }
  }
}

@media (max-width: 768px) {
  .card-test-category {
    .read-more {
      opacity: 1;
    }
    .info {
      p {
        -webkit-line-clamp: 1;
        min-height: auto;
      }
    }
    &:hover {
      &::before {
        width: 100%;
        height: 100%;
      }
    }
  }
  .card-status {
    .icon {
      width: 40px;
      height: 40px;
      font-size: 24px;
    }
    .info {
      .num {
        font-size: 22px;
      }
      .desc {
        font-size: 14px;
      }
    }
  }
  .card-blog-image {
    .card-inner {
      grid-template-columns: 145px auto;
    }
    .info {
      h3 {
        font-size: 14px;
      }
      .desc p {
        font-size: 13px;
      }
    }
    .date {
      p {
        font-size: 12px;
        i {
          font-size: 14px;
        }
      }
    }
  }
  .card-blog-text {
    .info {
      h3 {
        font-size: 14px;
      }
      .date {
        font-size: 12px;
        i {
          font-size: 14px;
        }
      }
    }
  }
  .card-advice-row {
    .c-body {
      grid-template-columns: 100%;
      .user-img {
        width: 150px;
        height: 150px;
        margin: 0 auto;
      }
      .info {
        padding: 20px 0 0 0;
        text-align: center;
      }
      .name {
        font-size: 16px;
        padding-left: 0;
      }
      .activity {
        font-size: 13px;
      }
      .desc {
        text-align: center;
      }
    }
    .rating {
      position: relative;
      left: unset;
      right: 0;
      top: unset;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 575px) {
  .card-test-category {
    .icon {
      width: 50px;
      height: 50px;
      padding: 10px;
      i {
        font-size: 24px;
      }
    }
    .info {
      h2 {
        font-size: 13px;
      }
      p {
        display: none;
      }
    }
    .read-more {
      margin-top: 0;
      color: rgba($color: white, $alpha: 0.7);
    }
  }
  .card-property {
    .card-inner {
      grid-template-columns: 40px auto;
      padding: 25px;
    }
    .icon {
      width: 40px;
      height: 40px;
      font-size: 18px;
    }
    .name {
      padding-right: 15px;
      h2 {
        font-size: 16px;
      }
    }
  }
  .card-status {
    .card-inner {
      padding: 20px 0;
    }
    &.have-border {
      .card-inner {
        border-top: 1px solid rgba($color: white, $alpha: 0.2);
        border-bottom: 1px solid rgba($color: white, $alpha: 0.2);
        border-left: none;
        border-right: none;
      }
    }
  }
  .card-blog-text {
    .info {
      h3 {
        font-size: 13px;
      }
      .date {
        font-size: 10px;
        i {
          font-size: 12px;
          top: 3px;
        }
      }
    }
  }
  .card-blog-row {
    .card-inner {
      grid-template-columns: 100%;
    }
    .img-container {
      height: 160px;
    }
    .info {
      padding: 15px 0 0 0;
    }
  }
  .card-advice-row {
    .price-content {
      flex-direction: column;
      .time-cost {
        flex: 0 0 100%;
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 10px;
      }
      .bookmark {
        flex: 0 0 100%;
        width: 100%;
        .btn {
          width: 100%;
        }
      }
    }
    .rating {
      width: 100%;
      margin-top: 10px;
      .rate {
        margin: 5px;
      }
      .free-session {
        margin: 5px;
      }
    }
  }
}

@media (max-width: 480px) {
  .card-property {
    .card-inner {
      grid-template-columns: 35px auto;
      padding: 20px;
    }
    .icon {
      width: 35px;
      height: 35px;
      font-size: 18px;
    }
    .name {
      padding-right: 12px;
      h2 {
        font-size: 14px;
      }
    }
    .info {
      p {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 430px) {
  .card-blog-image {
    .card-inner {
      grid-template-columns: 90px auto;
    }
    .info {
      padding: 10px;
      h3 {
        font-size: 13px;
        margin-bottom: 5px;
      }
      .desc p {
        font-size: 11px;
        -webkit-line-clamp: 1;
        margin-bottom: 0.5rem;
      }
    }
    .date {
      p {
        font-size: 10px;
        margin-bottom: 0;
        i {
          font-size: 12px;
          top: 3px;
        }
      }
    }
  }
  .card-transaction {
    .action-buttons {
      .btn {
        display: block;
        margin: 5px 0;
      }
    }
  }
}
/*#endregion -------------- Cards */
