/*#region ----------------- Test List */
.test-list {
  position: relative;
  padding-top: 180px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, rgba(250, 200, 0, 0.3), white);
    z-index: -1;
  }
}

@media (max-width: 992px) {
  .test-list {
    padding-top: 130px;
  }
}
@media (max-width: 768px) {
  .test-list {
    padding-top: 110px;
  }
}
/*#endregion -------------- Test List */
