$primary: #fac800;
$primaryDark: #91bf36;
$secondary: #000523;
$secondaryLight: #3f3f3f;

$accent2: #2ca964;
$accent: #b4aa99;
$accentDark: #4d4637;

$textDark: #000523;
$textGrey: #4c4f64;
$textSilver: #818392;

$success: #62bb77;
$error: #de392a;

$borderColor: rgba(0, 5, 35, 0.15);
$background: #fff;
$backgroundLight: #e4e9ee;

$boxshadow: 0 10px 35px rgba(0, 5, 35, 0.15);
$boxshadowSmall: 0 5px 25px rgba(0, 5, 35, 0.1);

$bodyFont: Vazir;
$iconFontRegular: "uicons-regular-rounded";
$iconFontSolid: "uicons-solid-rounded";
